* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-color: #333333;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
}
